@mixin btn($bg-color, $color) {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  background: $bg-color;
  color: $color;
}

.cta {
  @include btn(#ffffff, #939393);
  border: 1.5px solid #939393;
  padding: 12px 40px;
}

.cta-grey {
  @include btn(#cfcfcf, white);
  border: none;
  border-radius: 20px;
  padding: 11.5px 15px;
}
