.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-baseline {
  align-items: baseline;
}

.flex-direction {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

// Margin-Top
.mt-4 {
  margin-top: 4px;
}
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-13 {
  margin-top: 13px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-80 {
  margin-top: 80px;
}

// Margin-Left
.ml-8 {
  margin-left: 8px;
}
.ml-10 {
  margin-left: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-30 {
  margin-left: 30px;
}
.ml-50 {
  margin-left: 50px;
}

.ml-171 {
  margin-left: 171px;
}

// Margin-Bottom
.mb-40 {
  margin-bottom: 40px;
}
